<%= form_for(@downtime) do |f| %>
  <% if @downtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@downtime.errors.count, "error") %> prohibited this downtime from being saved:</h2>

      <ul>
      <% @downtime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :downtime_type %><br>
    <%= f.text_field :downtime_type %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :sla_per_day_id %><br>
    <%= f.number_field :sla_per_day_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
