<h1>Listing downtimes</h1>

<table class="data_view">
  <thead>
    <tr>
      <th>Start</th>
      <th>Downtimetype</th>
      <th>End</th>
      <th>Comment</th>
      <th>Month</th>
      <th>year</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Time.zone = 'Berlin' %>
    <% @downtimes.each do |downtime| %>
      <tr>
        <td><%= downtime.start%></td>
        <td><%= downtime.downtime_type %></td>
        <td><%= downtime.end %></td>
        <td><%= downtime.comment %></td>
        <td><%= downtime.sla_per_day.sla_per_month.month %></td>
        <td><%= downtime.sla_per_day.sla_per_month.year %></td>
        <td><%= downtime.sla_per_day.sla_per_month.customer.name %></td>
        <td><%= link_to 'Show', downtime %></td>
        <td><%= link_to 'Edit', edit_downtime_path(downtime) %></td>
        <td><%= link_to 'Destroy', downtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Downtime', new_downtime_path, class: "button" %>
