<p id="notice"><%= notice %></p>

<h1>Showing configuration for Downtime </h1>
<dl class="show_container">

  <dt><strong>Start:</strong></dt>
  <dd><%= @downtime.start %></dd>
  <dt><strong>End:</strong></dt>
  <dd>  <%= @downtime.end %></dd>
  <dt><strong>Downtime type:</strong></dt>
  <dd>  <%=@downtime.downtime_type %></dd>
  <dt><strong>Comment:</strong></dt>
  <dd>    <%= @downtime.comment %></dd>

</dl>
<%= link_to 'Edit', edit_downtime_path(@downtime), class: 'button' %>
<%= link_to_function 'Back', "history.back()", class: 'button' %>
<%= link_to 'Destroy', @downtime, :method => :delete, data: { confirm: 'Are you sure?' }, class:'button' %>