<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @downtime.start %>
</p>

<p>
  <strong>Downtimetype:</strong>
  <%= @downtime.downtime_type %>
</p>

<p>
  <strong>End:</strong>
  <%= @downtime.end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @downtime.comment %>
</p>

<p>
  <strong>Sla Per Day:</strong>
  <%= @downtime.sla_per_day_id %>
</p>

<%= link_to 'Edit', edit_downtime_path(@downtime) %> |
<%= link_to_function 'Back', "history.back()", class: 'button' %>
