<p id="notice"><%= notice %></p>

<h1>Showing Monthly Report</h1>
<dl class="show_container">

  <dt><strong>Month:</strong></dt>
  <dd><%= @sla_per_month.month %></dd>
  <dt><strong>Year:</strong></dt>
  <dd>  <%= @sla_per_month.year %></dd>
  <dt><strong>Customer:</strong></dt>
  <dd>  <%= @sla_per_month.customer.name %></dd>
  <dt><strong>Unplanned Downtime in seconds:</strong></dt>
  <dd>    <%= @downtime_info.downtime_in_seconds %></dd>
  <dt><strong>General Availability in Seconds</strong></dt>
  <dd>    <%= @downtime_info.configured_availability %></dd>
  <dt><strong>SLA Percentage:</strong></dt>
  <dd>    <%= @downtime_info.get_availability_in_percent  %></dd>
  <dt><strong>Downtimes:</strong></dt>
  <dd>    <%= @critical_downtimes  %></dd>
</dl>
<%= link_to 'Edit', edit_sla_per_month_path(@sla_per_month), class: 'button' %>
<%= link_to 'Back', sla_per_months_path, class: 'button' %>
