<p id="notice"><%= notice %></p>
<dl>

  <dt><strong>Customer:</strong></dt>
  <dd><%= link_to @customer_configuration.customer.name, @customer_configuration.customer %></dd>
  <dt><strong>Dailyslastart:</strong></dt>
  <dd>  <%= @customer_configuration.dailySlaStart.strftime('%H:%M:%S') %></dd>
  <dt><strong>Dailyslaend:</strong></dt>
  <dd>  <%= @customer_configuration.dailySlaEnd.strftime('%H:%M:%S') %></dd>
  <dt><strong>Weeklysladays:</strong></dt>
  <dd>    <%= @customer_configuration.weeklySlaDays %></dd>
  <dt><strong>Excludeddays:</strong></dt>
  <dd>  <%= @customer_configuration.excludedDays %></dd>

</dl>

<%= link_to 'Edit', edit_customer_configuration_path(@customer_configuration), class: 'button' %>
<%= link_to_function 'Back', "history.back()", class: 'button' %>
