<!DOCTYPE html>
<html>
<head>
  <title>BrewReport</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="container"><ul class="menu" rel="sam1">
    <li class="menu_item"><%= link_to 'Customer', customers_path %></li>
    <li class="menu_item"><%= link_to 'Configuration', customer_configurations_path %></li>
    <li class="menu_item"><%= link_to 'Monthly reports', sla_per_months_path %></li>
    <li class="menu_item"><%= link_to 'Downtimes', downtimes_path %></li>
  </ul>
  </div>
</div>

<script type="text/javascript">
    setNavigation();
</script>
<%= yield %>

</body>
</html>
