<!DOCTYPE html>
<html>
<head>
  <title>BrewReport</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="content">
  <div class="wrapper">
    <div class="container"><ul id="menu" class="menu" rel="sam1">
      <li class="menu_item <%= @customer_active %>"><%= link_to 'Customer', customers_path %></li>
      <li class="menu_item <%= @customer_config_active %>"><%= link_to 'Configuration', customer_configurations_path %></li>
      <li class="menu_item <%= @slapm_active %>"><%= link_to 'Monthly reports', sla_per_months_path %></li>
      <li class="menu_item <%= @downtime_active %>"><%= link_to 'Downtimes', downtimes_path %></li>
    </ul>
    </div>
  </div>
  <%= yield %>
</div>

</body>
</html>
